In [116]:
l1 = ["netra", 11, 22, 33, 44, 55, 66, 77, "Bibek", "Nimesh", 12.35]
print(l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35]

In [117]:
l1.append('Ganesh') #Append function only takes only one value
print(l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [118]:
#Creating a New list (Copy Function)

new_l1 = l1.copy()
print(new_l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [119]:
print(new_l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [120]:
new_l1

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [121]:
#Removing items from the list
#DEL Function

del new_l1[5] #Removes 55 from the list
print(new_l1)

['netra', 11, 22, 33, 44, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [122]:
del new_l1[-1] #Removes Ganesh from the list

new_l1

['netra', 11, 22, 33, 44, 66, 77, 'Bibek', 'Nimesh', 12.35]

In [123]:
#Extend to add multiple elements in the list
print(new_l1)

['netra', 11, 22, 33, 44, 66, 77, 'Bibek', 'Nimesh', 12.35]

In [124]:
more_elements = ["Ganesh", 35]
new_l1.extend(more_elements)
print(new_l1)

['netra', 11, 22, 33, 44, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh', 35]

## Indexing the List

In [125]:
print(l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [126]:
print(l1[0])

netra

In [127]:
print(l1[4])

44

In [128]:
print(l1[7])

77

In [129]:
print(l1[-1]) #Printing the Last Element

Ganesh

In [130]:
print(l1[-2]) #Printing the second last element

12.35

In [131]:
print(l1[-12]) #Prints the first element

netra

In [132]:
print(l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [133]:
print(l1[::2]) #Prints elements in 2 steps including the first one

['netra', 22, 44, 66, 'Bibek', 12.35]

In [134]:
print(l1[:5]) #Prints till 4th element

['netra', 11, 22, 33, 44]

In [135]:
print(l1[1:6]) #Prints from second to 5th elements

[11, 22, 33, 44, 55]

In [136]:
print(l1[::-1]) #Prints elements in reversing order

['Ganesh', 12.35, 'Nimesh', 'Bibek', 77, 66, 55, 44, 33, 22, 11, 'netra']

In [137]:
l1

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [138]:
print(l1[1:7:2]) #Prints from 1 to 6 with 2 steps

[11, 33, 55]

In [139]:
print(l1[:5]) #Prints from 0 to 4

['netra', 11, 22, 33, 44]

In [140]:
print(l1[3:]) #Prints all the elements from third (3)

[33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [141]:
print(l1[-3:])

['Nimesh', 12.35, 'Ganesh']

In [142]:
print(l1[4:4])

[]

## Modifying the Elements of the list

In [143]:
print(l1)

['netra', 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [144]:
#Modifying the First element 
l1[0] = 99
print(l1)

[99, 11, 22, 33, 44, 55, 66, 77, 'Bibek', 'Nimesh', 12.35, 'Ganesh']

In [145]:
#Modifying other elements 
l1[9] = 111
print(l1)

[99, 11, 22, 33, 44, 55, 66, 77, 'Bibek', 111, 12.35, 'Ganesh']

In [146]:
# pop() for removing the elements

print(l1)

[99, 11, 22, 33, 44, 55, 66, 77, 'Bibek', 111, 12.35, 'Ganesh']

In [147]:
#Removing Eelement

print(l1.pop(8)) #Prints the removed element 
print(l1)

Bibek
[99, 11, 22, 33, 44, 55, 66, 77, 111, 12.35, 'Ganesh']

In [148]:
#Next procedures 

removed_element = l1.pop(8)

print(removed_element)

111

In [149]:
print(l1)

[99, 11, 22, 33, 44, 55, 66, 77, 12.35, 'Ganesh']

In [150]:
#Removing Element (Note: Remove function works only in value not index)

l1.remove(99)
print(l1)

[11, 22, 33, 44, 55, 66, 77, 12.35, 'Ganesh']

In [151]:
print(l1)

[11, 22, 33, 44, 55, 66, 77, 12.35, 'Ganesh']

In [155]:
#Sorting the List Elements (Note: Works only in int or float values)
l2 = [11, 22, 33, 14, 15, 99, 88]
l2.sort(reverse=True)

print(l2)

[99, 88, 33, 22, 15, 14, 11]