# Sets

In [81]:
#Converting List to Sets 
List = [11, 22, 33, 44, 55]

#Converting to sets
set1 = set(List)
print(set1)

{33, 11, 44, 22, 55}

In [82]:
set1

{11, 22, 33, 44, 55}

In [83]:
type(set1)

set

In [84]:
my_set1 = {11, 22, 33, 44, 55, 66, 77, 88, 99, 111}

print(my_set1)

{33, 66, 99, 11, 44, 77, 111, 22, 55, 88}

In [85]:
type(my_set1)

set

In [86]:
my_set2 = {101, 202, 303, 404, 505, 606}

print(my_set2)

{404, 101, 505, 202, 606, 303}

In [87]:
#Adding elements 

my_set2.add(707)
print(my_set2)

{707, 404, 101, 505, 202, 606, 303}

In [88]:
#copy the set 
copied_set = my_set1.copy()
print(copied_set)

{33, 66, 99, 11, 44, 77, 111, 22, 55, 88}

In [89]:
copied_set.clear()

In [90]:
copied_set

set()

In [91]:
#removing elements from the set 

my_set2.discard(707) #Removes 707 from the set 
print(my_set2)

{404, 101, 505, 202, 606, 303}

In [92]:
#Checking is subset
my_set3 = {11, 22, 33}

my_set3.issubset(my_set1)

True

In [93]:
my_set3.isdisjoint(my_set1)

False

In [94]:
my_set2.isdisjoint(my_set1)

True

In [95]:
#Let's make it Easiers by copying 

set1 = my_set1.copy()
set1

{11, 22, 33, 44, 55, 66, 77, 88, 99, 111}

In [96]:
set2 = my_set2.copy()
set2

{101, 202, 303, 404, 505, 606}

In [97]:
set3 = my_set3.copy()
set3

{11, 22, 33}

In [98]:
#Checking superset 
print(set2.issuperset(set3))

False

In [99]:
print(set1.issuperset(set3)) #checks whether set1 is superset of set3

True

In [100]:
#Removing elements from the set 
set3.remove(33)
print(set3)

{11, 22}

In [102]:
set3.pop() #Removes whatever the elements it likes to remove 
print(set3)

set()

### Set Operations

In [103]:
#Union 

set1.union(set2)

{11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 202, 303, 404, 505, 606}

In [104]:
#Intersection
set1.intersection(set2)

set()

In [105]:
#Next method for intersectoin
set1 & set2

set()

In [106]:
#Difference of the sets 

set1.difference(set2)

{11, 22, 33, 44, 55, 66, 77, 88, 99, 111}

In [107]:
#Symmetric Difference
set1.symmetric_difference(set2)

{11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 202, 303, 404, 505, 606}

In [108]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'